envinronment: staging
server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,loggers
  endpoint:
    health:
      show-details: never
  prometheus:
    metrics:
      export:
        enabled: true